

<div class="verificationBody">
    <div class="box">
        <h1>Account verification</h1>
        <form [formGroup]="verifyForm" (ngSubmit)="Onverify(verifyForm.value)" >
            
            <input type="text" class="form-control" formControlName="code" placeholder="Enter the code" > 
            <br/>
            <countdown [config]="{ leftTime: 40, format: 'm:s' }"></countdown>
            <br/>
            <div>
                <button class="m-3 btn btn-primary" type="submit" [disabled]="!verifyForm.valid">Verify</button>
            </div>
            
        </form>  
    </div>
          
</div>
