<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn/Register</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form  [formGroup]="loginForm" (ngSubmit)="loginProcess(loginForm.value)">
              <mat-form-field >
                <input
              type="email"
               matInput 
               placeholder="Email" 
               formControlName="email">
                <mat-error *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('required')">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                type="text" matInput placeholder="Username" formControlName="username">
                <mat-icon matSuffix>perm_identity</mat-icon>
                
                <mat-error
                *ngIf="this.loginForm.get('username')?.touched && this.loginForm.get('username')?.hasError('required')">
                  Username is required
                </mat-error>
              </mat-form-field>

              <mat-form-field  >
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  formControlName="password">
                  <mat-error
                  *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')">
                  password with one uppercase,one lowercase,special char & number
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              
              <div class="buttonsetup">
                  <button color="primary" type="submit" [disabled]="!loginForm.valid">
                    SignIn 
                  </button> 
              </div>
              <p class="text-center mt-2 ">{{message}}</p>
                
            </form>
            
          </mat-card-content>
      </mat-tab>
      
      <mat-tab label="Register" >
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="Onsubmit(registerForm.value)">
            <mat-form-field>
              <input
              type="text" matInput placeholder="First Name" formControlName="first_name">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
              *ngIf="this.registerForm.get('first_name')?.touched && this.registerForm.get('first_name')?.hasError('required')">
                Firstname is required
              </mat-error>

            </mat-form-field>

            <mat-form-field>
              <input
              type="text" matInput placeholder="Last Name" formControlName="last_name">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
              *ngIf="this.registerForm.get('last_name')?.touched && this.registerForm.get('last_name')?.hasError('required')">
                Lastname is required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
              type="email"
               matInput 
               placeholder="Email" 
               formControlName="email">
                <mat-error *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('required')">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
              type="text" matInput placeholder="Username" formControlName="username">
              <mat-icon matSuffix>perm_identity</mat-icon>
              
              <mat-error
              *ngIf="this.registerForm.get('username')?.touched && this.registerForm.get('username')?.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>

            <mat-form-field  >
              <input
                matInput
                placeholder="Password"
                type="password"
                formControlName="password">
                <mat-error
                *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('required')">
                password with one uppercase,one lowercase,special char & number
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
              <mat-error
                *ngIf="this.registerForm.get('passwordConfirm')?.touched && this.registerForm.get('passwordConfirm')?.hasError('required')">
                Password Confirmation is required</mat-error>
              
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
    
            <mat-error
                *ngIf="this.registerForm.get('passwordConfirm')?.dirty && this.registerForm.hasError('passwordsNotMatching')">
                Passwords are not matching!
            </mat-error>
            
              <!-- Button is disabled(not clickable), if our RegisterForm contains Validation Errors -->
            <div class="buttonsetup">
              <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
            </div>
              
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>







