<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn/Register</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form #myForm="ngForm">
              <mat-form-field >
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  name="password"
                  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" 
                  ngModel
                  #password="ngModel">
                  <mat-error *ngIf="password.invalid">Password is required</mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <a routerLink="/home" style="text-decoration: none;">
                <button color="primary"  type="submit" [disabled]="!myForm.valid">login</button>
              </a>   
            </form>
            
          </mat-card-content>
      </mat-tab>
      
      <mat-tab label="Register" >
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <mat-form-field>
              <input
              type="text" matInput placeholder="First Name" formControlName="firstname">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
              *ngIf="this.registerForm.get('firstname')?.touched && this.registerForm.get('firstname')?.hasError('required')">
                Firstname is required
              </mat-error>

            </mat-form-field>

            <mat-form-field>
              <input
              type="text" matInput placeholder="Last Name" formControlName="lastname">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
              *ngIf="this.registerForm.get('lastname')?.touched && this.registerForm.get('lastname')?.hasError('required')">
                Lastname is required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
              type="email"
               matInput 
               placeholder="Email" 
               formControlName="email">
                <mat-error *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('required')">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
              type="text" matInput placeholder="Username" formControlName="username">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
              *ngIf="this.registerForm.get('username')?.touched && this.registerForm.get('username')?.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>

            <mat-form-field  >
              <input
                matInput
                placeholder="Password"
                type="password"
                formControlName="password">
                <mat-error
                *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('required')">
                password with one uppercase,one lowercase,special char & number
                </mat-error>
                
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
              <mat-error
                *ngIf="this.registerForm.get('passwordConfirm')?.touched && this.registerForm.get('passwordConfirm')?.hasError('required')">
                Password Confirmation is required</mat-error>
              
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
    
            <mat-error
                *ngIf="this.registerForm.get('passwordConfirm')?.dirty && this.registerForm.hasError('passwordsNotMatching')">
                Passwords are not matching!
            </mat-error>
            
              <!-- Button is disabled(not clickable), if our RegisterForm contains Validation Errors -->
              
              <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>







